$width: 90%; // Common width
$fullWidth: 100%; // Common child width
$height: 30px; // Common height

@mixin spacing($position: fixed) {
  position: $position;
  display: flex;
  align-items: center;
  justify-content: center;
}