/* Styling the profile picture and name */
@import 'variables';

.prof {
  
  // Added mixins to control positioning
  @include spacing($position: relative);
  
  flex-direction: column;
  background-color: orange;
  height: 400px;
  top: 0px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.image1 {
  margin-bottom: -45px;
}
