/* Styling the profile picture and name */
.prof {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: orange;
  height: 400px;
  top: 0px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.image1 {
  margin-bottom: -45px;
}
