/* ------------------------
-------Navigation Bar------
---------------------------*/
nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4; /* This will allow it to appear in forground */
  font-family: "Bungee-Regular";
  background-color: orange;
  color: #FFFFFF;
  flex-direction: row;
  height: 120px;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
  font-size: 35px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
nav #Title {
  margin-left: 1.5em;
  margin-top: 35px;
}
nav .smFont {
  margin-right: 1.5em;
  cursor: pointer;
}
nav .smFont .Title2 {
  font-size: 22px;
  font-family: SourceSansPro-Light;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .smFont .Title2 .bold {
  font-family: SourceSansPro-SemiBold;
}

#arrow {
  color: red;
  margin-bottom: -90px;
  cursor: pointer;
}

@keyframes name-of-animation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(4px);
  }
}
#arrow {
  animation: name-of-animation 1s infinite;
}
