/* ----------------------------
--------New Tweet Form--------
------------------------------ */

.new-tweet {
  margin-top: 15px;
  width: 90%;
  display: none;
}

#titleHum {
  font-size: 18px;
  font-family: 'SourceSansPro-SemiBold';
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee-Regular';
}

#tweet-text {
  border-top: black;
  border-bottom-width: 3px;
  border-right: black;
  border-left: black;
  height: 40px;
  padding-top: 5px;
  font-size: 14px;
  width: 100%;
  background: transparent;
  font-family: 'SourceSansPro-SemiBold', 'sans-serif';
}

.bottomBar button {
  font-size: 20px;
  background-color: #4056A1;
  color: #FFFFFF;
}

.bottomBar button:hover {
  cursor: pointer;
}

#errorMessage {
  display: none;
  font-size: 80%;
  width: 90%;
  height: 30px;
  color: red;
  border: 2px solid red;
  text-align: center;
}

#errorMessage2 {
  display: none;
  font-size: 80%;
  width: 90%;
  height: 30px;
  color: red;
  border: 2px solid red;
  text-align: center;
}