/* -------------------------------------------------
------Tweets formatting and Screen Resizing--------
--------------------------------------------------- */

#tweets-container {
  box-sizing: content-box;
  width: 100%;
}

.all-tweets {
  display: flex;
  flex-direction:column;
  position: relative;
  border: 2px solid black;
  min-width: 250px;
  width: 90%;
  height: 150px;
  top: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.all-tweets:hover {
  box-shadow: 10px 5px 5px grey;
}

.tweet-title {
  display: flex;
  align-self: center;
  font-size: 18px;
  justify-content: space-between;
  width: 90%;
  top: 50px;
  align-items: center;
  align-content: center;
  margin-top: 14px;
  margin-bottom: 6px;
}

.tweet-title #handle {
  opacity: 50%;
}

.tweet-body{
  display: flex;
  align-self: center;
  font-size: 15px;
  width: 85%;
  height: 40px;
  border-color: black;
  padding: 0px;
  margin-bottom: 0px;
  white-space: pre-line;
  max-width: 85%;
  font-family: 'SourceSansPro-SemiBold';
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-self: center;
  width: 90%;
  font-size: 13px;
  padding-top: 6px;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#iconBox {
  display: flex;
  flex-direction: row;
  pointer-events: none;
  justify-content: flex-end;
}

#icons {
  position: relative;
  height: 30px;
  width: 20px;
  z-index: +1;
}


#icons:hover {
  cursor: pointer;
  color: gold;
}

#blackLine {
  display: block;
  width: 90%;
  border-bottom: 2px solid rgb(20, 20, 20);
  align-self: center;
}

article + article {
  margin-top: 30px;
}

.gap {
  height: 200px;
}

/*Profile picture size*/
.all-tweets .tweet-title img {
  height: 23px;
  width: 23px;
}

/* --------------Stretch---------- */
#scrollUp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 60px;
  color: white;
  height: 60px;
  font-size: 25px;
  bottom: 7px;
  right: 7px;
  border-radius: 30px;
  background-color: red;
}

@keyframes scrollArrow {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-8px);
  }
}

#scrollUp {
  animation: scrollArrow 1s infinite;
}
/* ------Stretch End------ */


/* -------- Dynamic Pages, screen resizing --------- */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
  main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: 5%;
  }
  .prof {
    /* position: fixed; */
    position: sticky;
    top: 150px;
    width: 45vh;
    height: 38vh;
    margin-right: 15vh;
    margin-left: 8vh;
  }
  .new-tweet {
    width: 65vh;
    right: 5vh;
    margin-right: 5vh;
  }
  #tweets-container {
    width: 70vh;
    margin-right: 5vh;
  }
}